{% extends 'base.html' %}
{% block title %} Product List {% endblock %}

{% block content %}
<!-- product_list: Product.objects.all(): DB에 있는 모든 Product 꺼내서 변수에 넣어줌 -->
<a href="{% url 'product:add' %}">Add Product</a>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>제품명</th>
        <th>가격</th>
        <th>EDIT</th>
        <th>REMOVE</th>
    </tr>
    </thead>
    <tbody>
        {% for product in product_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'product:detail' pk=product.id %}">{{ product.name }}</a></td>
            <td>{{ product.price }}원</td>
            <td><a href="{% url 'product:edit' pk=product.id %}">EDIT</a></td>
            <td><a href="{% url 'product:remove' pk=product.id %}">REMOVE</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}