<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<!-- product_list: Product.objects.all(): DB에 있는 모든 Product 꺼내서 변수에 넣어줌 -->
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>제품명</th>
        <th>가격</th>
        <th>EDIT</th>
        <th>REMOVE</th>
    </tr>
    </thead>
    <tbody>
        {% for product in product_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}원</td>
            <td>EDIT</td>
            <td>REMOVE</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>