{% extends 'base.html' %}
{% block title %} Product Detail {% endblock %}

{% block content %}
<h1>{{ product }}</h1>
<ul>
    <li>{{ product.id }}</li>
    <li>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image-detail">
        {% else %}
            사진 없음
        {% endif %}
    </li>
    <li>{{ product.name }}</li>
    <li>{{ product.price }}원</li>
</ul>
<a href="{% url 'product:edit2' pk=product.id %}" class="btn btn-primary">EDIT</a>
<a href="{% url 'product:list2' %}" class="btn btn-warning">Go to Product List</a>
{% endblock %}